* {
    margin: 0;
    font-family: "SF Pro Display", sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* 600 = Semi-Bold */
/* 700 = Bold */
/* 500 = Medium */
/* 400 = Regular */

/* NAVBAR */

.navbar-brand {
    font-size: 2rem;
}

.nav-item a {
    font-size: 1.25rem;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #0000FF;
}


/* HERO */

.hero {
    height: 100vh;
    background-image: url("assets/DSC00082.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.hero-banner h1 {
    font-size: 5rem;
    font-weight: 500;
}

.hero-banner h4 {
    font-size: 3rem;
    font-weight: 400;
}

.hero-image img {
    height: 50vh;
}

.yellow-underline {
    text-decoration: underline #0000FF;
}

/* ABOUT ME */

.about {
    margin-top: 75px;
}

.page-title {
    font-weight: 600;
    font-size: 4rem;
}

.page-sub-title {
    font-weight: 500;
    font-size: 2rem;
}

.page-content {
    color: #838383;
    font-size: 1rem;
    width: 85%;
}

.skills-container {
    border: #707070 solid 1px;
    border-radius: 5px;
}

#skills-title {
    font-size: 2.5rem;
}

.yellow-skills-bar {
    height: 20px;
    background-color: #0000FF;
    border-radius: 10px;
}

.skills-box-wrapper > :nth-child(n) {
    margin-bottom: 17.5pt;
}

#figma-bar {
    width: 75%;
}

#adobexd-bar {
    width: 90%;
}

#photoshop-bar {
    width: 65%;
}

#illustrator-bar {
    width: 50%;
}

#html-bar {
    width: 80%;
}

#css-bar {
    width: 70%;
}

#javascript-bar {
    width: 45%;
}


/* MY WORK */

.boxes-container {
    margin-bottom: 25pt;
}

.row-sub-title {
    margin-bottom: 25pt;
}

.long-box {
    height: 67.5vh;
    margin-bottom: 12.5px;
}

.long-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.short-box {
    height: 33vh;
    margin-bottom: 12.5px;
}

.short-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.big-box {
    margin-bottom: 12.5px;
}

.big-box img {
    width: 100%;
    object-fit: contain;
}

.small-box {
    height: 33.75vh;
    border: #707070 solid 1px;
    border-radius: 5px;
    margin-bottom: 12.5px;
}

.small-box a {
    color: black;
}

.small-box h3, .small-box p, .small-box a {
    padding: 10px 0 0 5px;
}


/* CONTACT ME */

#fname, #mail, #message {
    width: 100%;
    border: none;
    border-bottom: #707070 solid 1px;
    color: #707070;
    font-size: 1.25rem;
}

#submit-form {
    background-color: #0000FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    width: 20vw;
}


/* FOOTER */


.social-link i:hover {
    color: #0000FF;
}
.social-media li a:hover {
    background-color: white;
}

.social-media {
    list-style-type: none;
    padding: 0;
}

.social-media li {
    display: inline-block;
}

.social-media li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #0000FF;
    border-radius: 50%;
}

.social-media li a i {
    color: #ffffff;
    font-size: 20px;
    padding: 15px;
}


.navbar-light .navbar-toggler {
    color: white !important;
    border-color: white !important;
}



/* Media Query for screens below 414px */
@media (max-width: 414px) {
    .row {
        --bs-gutter-x: 0rem;
    }

    .small-box {
        height: 25vh;
    }


}

